body {
  background: #0C152A;
  color: #4E9CB5;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#line {
  background: #EB540A;
  height: 3px;
}
#weatherappspot {
  width: 600px;
  margin: 20px auto;
}
h2 {
  padding-left: 100px;
  padding-bottom: 40px;
}
#belsoapp {
  margin:auto;
  padding: 100px;
}
i {
  font-size: 25px;
  color: #EB540A;
  padding-right: 10px;
}
#left {
  padding-left: 20px;
  width: 200px;
}
#right {
  padding-left: 20px;
  width: 200px;
  height: 100px;
}
#buttons {
  margin: auto;
  text-align: center;
}
